<h2>Upload new photos</h2>
<section id="uploader">
<%= swf_upload_area 'Add Photos', :url => manage_event_photos_path(@event),
 				:filetypes => "*.jpg; *.gif; *.png",
        :button_class => "generic_button",
				:file_size_limit => "10 MB",
				:single_file => false %>
</section>
<ul id="photos">
	<% @photos.each do |photo| %>
		<%= render 'photo', :photo => photo %>
	<% end %>
</ul>