<div class="manage_header">
	<h2>Edit event</h2>
</div>
<section>
<% form_for @event, :url => manage_event_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "back", manage_events_path %>
</section>