<li>
	<h3><time datetime="<%= activity.date.strftime('%Y-%m-%d')%>"><%= activity.date.strftime('%d-%m-%Y')%></time> <strong><%= link_to activity.user.username, [activity.user] %></strong> joined <%= link_to activity.event.name, [activity.event] %></h3>
</li>