<li>
	<h3><time datetime="<%= activity.date.strftime('%Y-%m-%d')%>"><%= activity.date.strftime('%d-%m-%Y')%></time> <strong><%= link_to activity.source['name'], [activity.event] %></strong> added a comment to a photo in <%= link_to activity.event.name, [activity.event, Photo.find(activity.photos.first)] %></h3>
</li>