body 
  text-align: center
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #333
  font-size: 62.5%
  background-color: #222222
  background: #222222 url('/images/body_bg.jpg') repeat-x
a:link, a:visited
  color: #336699
  outline: none
  text-decoration: none

a:hover
  text-decoration: none
  color: #205f82


a img
  border: 0

div#wrapper
  margin: auto
  width: 960px
  text-align: left
  font-size: 1.2em
  color: #222
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 15px
  line-height: 150%
  
  header#header
    display: block
    position: relative
    h1
      width: 200px
    h1 a
      -moz-border-radius: 5px
      -moz-box-shadow: 0 1px 0 #121212
      -webkit-border-radius: 5px
      -webkit-box-shadow: 0 1px 0 #121212
      background-color: #343434
      border-radius: 5px
      color: #bdbdbd
      display: inline
      font-weight: 400
      line-height: 150%
      padding: 10px
      width: 200px
      text-shadow: 0 1px 0 #121212
    nav
      width: 500px
      display: block
      text-align: right
      position: absolute
      top: 0px
      right: 0px
      
      ul
        list-style-type: none
        margin: 0
        padding: 0
        
        li
          display: inline
    h2
      color: #666666
      position: absolute
      top: 10px
      left: 195px
      text-shadow: 0 1px 0 #000000
  
  div#main
    h2
      padding-top: 20px
      color: #666666
      text-align: left
      
    section
      display: block
      background: #fff url('/images/section_bg.jpg') repeat-x
      padding: 10px
      -webkit-box-shadow: 3px 3px 10px #000
      -moz-box-shadow: 3px 3px 10px #000
      box-shadow: 3px 3px 10px #000
  
    section#event_header, section#photos
      background: transparent
      -webkit-box-shadow: 0 0 0
      -moz-box-shadow: 0 0 0
      box-shadow: 0 0 0
    
    section#event_header
      li
        color: #bdbdbd
        a.active
          color: #629ad2
    section#uploader
      h2
        padding-top: 0px
        margin-top: 5px

      ul.uploadContainer
        padding: 10px
        display: block
        height: 80px
        overflow: auto
        border: 1px dashed #bdbdbd
        list-style-type: none
        padding: 0
        margin: 0
  
        li 
          font-size: 14px
          position: relative
          height: 22px
    
          h6 
            font-size: 14px
            margin: 0
            padding: 2px
    
          div.bar 
            width: 100%
            height: 4px
    
          div.progress
            position: absolute
            top: 17px
            height: 4px
            background: #63b534
  
body.photos div#wrapper div#main
  text-align: center
  
  
  .photo
    padding: 4px
    display: block
    -webkit-box-shadow: 3px 3px 10px #000
    -moz-box-shadow: 3px 3px 10px #000
    box-shadow: 3px 3px 10px #000
    background-color: #fff
    
    a.download_link
      float: left
    ul
      list-style-type: none
      margin: 0
      padding: 0 0 0 30px
      height: 20px
      font-size: 1.1em
      padding-top: 2px
      margin-left: 200px
    
      li
        height: 20px
        float: right
        span, a
          padding-left: 22px
          padding-right: 10px
  
        &.views span
          background: transparent url('/images/icons/monitor.png') no-repeat
    
        &.comments span
          background: transparent url('/images/icons/dialog.png') no-repeat
    
        &.likes a
          background: transparent url('/images/icons/love.png') no-repeat
          text-decoration: none
          color: inherit
    
        &.likes span
          background: transparent url('/images/icons/love_active.png') no-repeat

        &.tags span
          background: transparent url('/images/icons/tags.png') no-repeat
  
  .photo_large_thumb
    width: 180px
    float: left
    margin: 10px
    
    ul
      margin-left: 0
      
  .photo_medium
    width: 595px
    margin: 10px

    ul
      margin-left: 0
    
  .photo_large
    width: 900px
    margin:  20px auto 50px auto

  section.comments
    text-align: left
    margin-left: 40px
    margin-right: 40px
    
    h2.comments_header
      margin-top: 0
      padding-top: 0px
    
    article
      display: block
      margin-bottom: 20px
      
      header
        font-weight: bold
        
      div.avatar_thumbnail
        float: left
        margin-right: 10px
        
      div.body
        margin-left: 100px
      hr
        clear: left
        border: none
        border-top: dashed 1px #CCCCCC
        color: #FFFFFF
        background-color: #FFFFFF
        height: 1px
        
    form
      margin-top: 50px
      textarea
        width: 100%
        height: 150px
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        padding: 2px


.thumb
  padding: 2px
  display: block
  margin-right: 10px
  float: left
  width: 100px
  height: 100px
  background-color: #fff
  -webkit-box-shadow: 2px 2px 5px #444
  -moz-box-shadow: 2px 2px 5px #444
  box-shadow: 2px 2px 5px #444
        
section#uploader
  text-align: left

section#event_header
  text-align: left
  
  ul
    list-style-type: none
    margin: 0
    padding: 0
    
    li
      display: inline
      padding-right: 10px
    
  
.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

@import activities.sass