body 
  text-align: center
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #333
  font-size: 62.5%
  background-color: #222222
  background: #222222 url('/images/body_bg.jpg') repeat-x
  padding-top: 0px
  margin-top: 0px
a:link, a:visited
  color: #639ad1
  outline: none
  text-decoration: none

a:hover
  text-decoration: none
  color: #336699

a img
  border: 0


table
  width: 100%
  margin-bottom: 25px
  border-collapse: collapse
  
  th
    background-color: #e8f0f3
    color: #6c7073
    padding: 5px

  td
    color: #898989
    padding: 5px
    
    a
      color: #898989
      font-weight: bold

      &:hover
        color: #336699

div#wrapper
  margin: auto
  width: 960px
  text-align: left
  font-size: 1.2em
  color: #222
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 15px
  line-height: 150%
  
  header#header
    display: block
    width: 960px
    height: 50px
    h1
      float: left
      width: 110px
      margin-top: 0px
      margin-bottom: 0px
      a
        -moz-border-radius: 0px 0px 5px 5px
        -moz-box-shadow: 0 1px 0 #121212
        -webkit-border-radius: 0px 0px 5px 5px
        -webkit-box-shadow: 0 1px 0 #121212
        background-color: #343434
        border-radius: 0px 0px 5px 5px
        color: #bdbdbd
        display: inline
        line-height: 150%
        font-weight: normal
        padding: 10px
        width: 200px
        font-size: 0.5em
    nav
      float: right
      display: block
      text-align: right
      margin-top: 0px
      padding: 2px 10px
      -moz-border-radius: 0px 0px 5px 5px
      -moz-box-shadow: 0 1px 0 #121212
      -webkit-border-radius: 0px 0px 5px 5px
      -webkit-box-shadow: 0 1px 0 #121212
      background-color: #343434
      border-radius: 0px 0px 5px 5px
      color: #222222
      
      ul
        list-style-type: none
        margin: 0
        padding: 0
        
        li
          display: inline
    h2
      margin: 0
      padding: 0
      margin-top: 5px
      font-size: 40px
      color: #343434
      float: left
      text-shadow: 0 1px 1px #141414
  
  div#main
    h2
      padding-top: 20px
      color: #666666
      text-align: left
      
    section
      display: block
      background: #fff url('/images/section_bg.jpg') repeat-x
      padding: 10px
      -webkit-box-shadow: 3px 3px 10px #000
      -moz-box-shadow: 3px 3px 10px #000
      box-shadow: 3px 3px 10px #000
        
    section#event_header, section#photos
      background: transparent
      -webkit-box-shadow: 0 0 0
      -moz-box-shadow: 0 0 0
      box-shadow: 0 0 0
    
    section#event_header
      text-align: center
      li
        color: #bdbdbd
        a.active
          color: #629ad2
    section#uploader
      h2
        padding-top: 0px
        margin-top: 5px

      ul.uploadContainer
        padding: 10px
        display: block
        height: 80px
        overflow: auto
        border: 1px dashed #bdbdbd
        list-style-type: none
        padding: 0
        margin: 0
  
        li 
          font-size: 14px
          position: relative
          height: 22px
    
          h6 
            font-size: 14px
            margin: 0
            padding: 2px
    
          div.bar 
            width: 100%
            height: 4px
    
          div.progress
            position: absolute
            top: 17px
            height: 4px
            background: #63b534
  
body.photos div#wrapper div#main
  text-align: center
  
  .photo
    padding: 4px
    display: block
    -webkit-box-shadow: 3px 3px 10px #000
    -moz-box-shadow: 3px 3px 10px #000
    box-shadow: 3px 3px 10px #000
    background-color: #fff
    
    a.download_link
      float: left
      background: transparent url('/images/icons/download.png') no-repeat left center
      padding-left: 18px
      margin-left: 10px
    ul
      list-style-type: none
      margin: 0
      padding: 0 0 0 30px
      height: 20px
      font-size: 1.1em
      padding-top: 2px
      margin-left: 200px
    
      li
        height: 15px
        float: right
        span, a
          padding-left: 18px
          padding-right: 10px
        span a
          padding: 0
        &.views span
          background: transparent url('/images/icons/monitor.png') no-repeat left center
    
        &.comments span
          background: transparent url('/images/icons/dialog.png') no-repeat left center
    
        &.likes a
          background: transparent url('/images/icons/love.png') no-repeat left center
          text-decoration: none
          color: inherit
    
        &.likes span
          background: transparent url('/images/icons/love_active.png') no-repeat left center

        &.tags span
          background: transparent url('/images/icons/tags.png') no-repeat left center
        
  .photo_large_thumb
    width: 180px
    float: left
    margin: 22px
    
    ul
      margin-left: 0
      
  .photo_medium
    width: 595px
    margin: 10px

    ul
      margin-left: 0
    
  .photo_large
    width: 900px
    margin:  20px auto 50px auto

  section.comments
    text-align: left
    margin-left: 40px
    margin-right: 40px
    
    h2.comments_header
      margin-top: 0
      padding-top: 0px
    
    article
      display: block
      margin-bottom: 20px
      
      header
        font-weight: bold
        
      div.avatar_thumbnail
        float: left
        margin-right: 10px
        
      div.body
        margin-left: 100px
      hr
        clear: left
        border: none
        border-top: dashed 1px #CCCCCC
        color: #FFFFFF
        background-color: #FFFFFF
        height: 1px
        
    form
      margin-top: 50px
      textarea
        width: 100%
        height: 150px
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        padding: 2px


.button
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  color: white
  font-weight: 400
  line-height: 150%
  padding: 5px 10px
  background-color: #639ad1
  &:hover
    background-color: #336699
  
.thumb
  padding: 2px
  display: block
  margin-right: 10px
  float: left
  width: 100px
  height: 100px
  background-color: #fff
  -webkit-box-shadow: 2px 2px 5px #444
  -moz-box-shadow: 2px 2px 5px #444
  box-shadow: 2px 2px 5px #444

section.pagination
  clear: both
  margin-top: 10px
        
section#uploader
  text-align: left


div#wrapper div#main div.manage_header
  padding: 10px
  background-color: white
  height: 50px
  h2
    margin-top: 15px
    margin-bottom: 0
    padding: 5px 5px 5px 5px
    width: 500px
    float: left
  a
    float: right
    margin-top: 20px
    color: white

section.stats
  text-align: left
  color: #898989
  
  a#photo
    float: left
    margin-right: 10px
    background-color: white
    
    img
      margin: 5px
      border: 1px solid #bdbdbd
    
  h3
    clear: both
    margin-right: 10px
  
  ul#info
    float: left
    list-style-type: none
    margin: 0
    padding: 0
    margin-top: 10px
    
    li 
      font-weight: bold
      span
        display: inline-block
        width: 100px
        font-weight: normal
        
  ul#numbers
    float: right
    list-style-type: none
    margin: 0
    padding: 0
    margin-top: 10px
    
    text-transform: uppercase

    li
      float: left
      margin: 0
      padding: 0
      display: block
      width: 100px
      text-align: center

      span.counter
        font-size: 3em
        padding-bottom: 2px
        display: block


  
  .sparkline
    svg
      border-bottom: 1px solid #bdbdbd

section#event_header
  text-align: left
  
  ul
    list-style-type: none
    margin: 0
    padding: 0
    
    li
      display: inline
      padding-right: 10px
    
  
.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden


ul#photos
  margin: 0 0 0 10px
  padding: 0
  li
    margin: 0
    paddign: 0
    float: left
@import activities.sass
@import events.sass