body {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
  background-color: #EEEEEE; }

a:link, a:visited {
  color: #4083a9;
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #205f82; }

a img {
  border: 0; }

div#wrapper {
  margin: auto;
  width: 960px;
  text-align: left;
  font-size: 1.2em;
  text-shadow: 0 1px 0 #ececec;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 150%; }
  div#wrapper header#header {
    display: block;
    position: relative; }
    div#wrapper header#header h1 {
      width: 200px; }
    div#wrapper header#header h1 a {
      -moz-border-radius: 5px;
      -moz-box-shadow: 0 1px 0 #fff;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: 0 1px 0 #fff;
      background-color: #626262;
      border-radius: 5px;
      box-shadow: 0 1px 0 #fff;
      color: #fff;
      display: inline;
      font-weight: 400;
      line-height: 150%;
      padding: 10px;
      text-shadow: 0 1px 0 #000;
      width: 200px; }
    div#wrapper header#header nav {
      width: 500px;
      display: block;
      text-align: right;
      position: absolute;
      top: 0px;
      right: 0px; }
      div#wrapper header#header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }

section {
  display: block; }

ul.uploadContainer {
  padding: 10px; }
  ul.uploadContainer li {
    font-size: 14px;
    position: relative;
    height: 22px; }
    ul.uploadContainer li div.bar {
      width: 100%;
      height: 4px; }
    ul.uploadContainer li div.progress {
      position: absolute;
      top: 17px;
      height: 4px;
      background: #63b534; }

body.photos div#main {
  text-align: center; }
  body.photos div#main .photo {
    padding: 4px;
    display: block;
    -webkit-box-shadow: 3px 3px 10px #444;
    -moz-box-shadow: 3px 3px 10px #444;
    box-shadow: 3px 3px 10px #444;
    background-color: #fff; }
    body.photos div#main .photo ul {
      list-style-type: none;
      margin: 0;
      padding: 0 30px 0 30px;
      height: 20px;
      font-size: 1.2em;
      padding-top: 2px; }
      body.photos div#main .photo ul li {
        height: 20px;
        float: right; }
        body.photos div#main .photo ul li span, body.photos div#main .photo ul li a {
          padding-left: 22px;
          padding-right: 10px; }
        body.photos div#main .photo ul li.views span {
          background: transparent url('/images/icons/monitor.png') no-repeat; }
        body.photos div#main .photo ul li.comments span {
          background: transparent url('/images/icons/dialog.png') no-repeat; }
        body.photos div#main .photo ul li.likes a {
          background: transparent url('/images/icons/love.png') no-repeat;
          text-decoration: none;
          color: inherit; }
        body.photos div#main .photo ul li.likes span {
          background: transparent url('/images/icons/love_active.png') no-repeat; }
        body.photos div#main .photo ul li.tags span {
          background: transparent url('/images/icons/tags.png') no-repeat; }
  body.photos div#main .photo_large_thumbnail {
    width: 180px;
    float: left;
    margin: 10px; }
  body.photos div#main .photo_large {
    width: 900px;
    margin: 20px auto 50px auto; }
  body.photos div#main section.comments {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px; }
    body.photos div#main section.comments article {
      display: block;
      margin-bottom: 20px; }
      body.photos div#main section.comments article header {
        font-weight: bold; }
      body.photos div#main section.comments article div.avatar_thumbnail {
        float: left;
        margin-right: 10px; }
      body.photos div#main section.comments article div.body {
        margin-left: 100px; }
      body.photos div#main section.comments article hr {
        clear: left;
        border: none;
        border-top: dashed 1px #CCCCCC;
        color: #FFFFFF;
        background-color: #FFFFFF;
        height: 1px; }
    body.photos div#main section.comments form {
      margin-top: 50px; }
      body.photos div#main section.comments form textarea {
        width: 100%;
        height: 150px; }

.thumb {
  padding: 2px;
  display: block;
  margin-right: 10px;
  float: left;
  width: 100px;
  height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px #444;
  -moz-box-shadow: 2px 2px 5px #444;
  box-shadow: 2px 2px 5px #444; }

section#uploader {
  text-align: left; }

section#event_header {
  text-align: left; }
  section#event_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    section#event_header ul li {
      display: inline;
      padding-right: 10px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#activities {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #activities li {
    color: #bdbdbd;
    display: block;
    font-weight: 400;
    line-height: 150%;
    text-shadow: 0 1px 0 #fff;
    position: relative;
    margin-bottom: 20px; }
    #activities li h3 {
      margin: 2px 0px 0px 2px;
      -moz-border-radius: 5px;
      -moz-box-shadow: 0 1px 0 #fff;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: 0 1px 0 #fff;
      border-radius: 5px;
      box-shadow: 0 1px 0 #fff;
      background-color: #4f4f4f;
      border-radius: 5px;
      padding: 8px;
      color: #f0f0f0;
      text-shadow: 0 1px 0 #000; }
    #activities li ul {
      border-top: 1px solid #f0f0f0;
      list-style-type: none;
      margin: 0;
      padding: 8px 10px; }
