<% if photo.likers.include?(user_hash) %>
	<li class="likes active" id="like_<%= dom_id(photo)%>">
		<span><%= photo.likes %></span>
	</li>
<% else %>
	<li class="likes" id="like_<%= dom_id(photo)%>">
		<%= link_to_remote photo.likes, :url => polymorphic_path([photo.event, photo]), :method => :get %>
	</li>
<% end %>