<%= render 'events/header', :event => @event %>

<section id="photos">
	<% @photos.each do |photo| %>
		<%= render 'photo', :photo => photo, :size => @size, :link => [photo.event, photo] %>
	<% end %>
</section>
<br class="clear" />
<section>
<%= will_paginate @photos %>
</section>