<%= swf_upload_area "Upload images", :url => upload_image_block_posts_path,
          :filetypes => "*.jpg; *.gif",
          :button_style => "font-family: Arial, sans-serif; font-size: 14pt; font-weight:bold;" %>
<ul id="blocks">

</div>