<div id="calendar">

<div>
<div id="photo_list">
  <%= swf_upload_area "Upload images", :url => upload_image_block_manage_posts_path(@site),
            :filetypes => "*.jpg; *.gif; *.png",
            :button_style => "font-family: Arial, sans-serif; font-size: 14pt; font-weight:bold;" %>
  <ul id="blocks">
    <% @posts.each do |post| %>
      <li>
        <%= image_tag post.image(:thumb) %>
      </li>
    <% end%>
  </div>
</div>